@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glass: rgba(255,255,255,0.06);
}

.glass-card {
  background: linear-gradient(180deg, rgba(255,255,255,0.02), rgba(255,255,255,0.01));
  backdrop-filter: blur(6px);
}
